/* Hide Shell Bar */
.sapMShellBrandingBar {
    visibility: hidden;
}

/* Remove Shitty dotted lines :)  */
.sapMFocus > .sapMSFF{
    outline: none;
    outline-offset: 0px;
    border : 0px solid red;
}
/* Adjust numeric content size */
.sapMNCValueScr {
    font-size: 1.75rem;
}